---
/**
 * Header component with export buttons.
 */
---

<header>
  <h1>Glaze Logo Builder</h1>
  <div class="export-btns">
    <button id="copy-svg">Copy SVG</button>
    <button id="download-svg">Download SVG</button>
  </div>
</header>
