---
/**
 * Header component with theme toggle and export buttons.
 */
---

<header>
  <button id="theme-toggle" class="icon-btn" title="Toggle background">
    <span class="light-icon">&#9728;</span>
    <span class="dark-icon">&#9790;</span>
  </button>
  <h1>Patina Logo Builder</h1>
  <div class="export-btns">
    <button id="copy-svg">Copy SVG</button>
    <button id="download-svg">Download SVG</button>
  </div>
</header>
